{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
	<!-- Main Content Section Starts -->
	<div class="main-content" >
		<div class="wrapper">
			<h1 class="text-center h2title">
				Essential forms/documents
			</h1>
			<br>
	
			<div class="card-container">
				<!-- forms card -->
				<div class="card">
					<a href="quality-control.html" target="_blank">
						 <div class="card-title">
						   Quality Control Checklist
						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSeBbDCKcquDoumAluSKvcp0fDqoRNuqYDFUyZ1tyFR524b2BA/viewform?usp=sf_link" target="_blank">
						
						<div class="card-title">
							 New Team-member Form
						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSeeKcwYZ82Co4ARIkSmE1QMhOSuRSIaPWtXwgrt4BOz0nB5JQ/viewform?usp=sf_link" target="_blank">
						<div class="card-title">
							 New Funmaker Form
						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSdeCqXya3KDv-lW4rl0ekD58I68_qybSfZkcyRx5DZSUXYANQ/viewform?usp=sf_link" target="_blank">
						<div class="card-title">
							 New School Form
						</div>
					</div>
					<div class="card">
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSdemfYzZtrYw9RiZdddOhOqD0WvmMm7RBA05V_vySN6IhtZDw/viewform?usp=sf_link" target="_blank">
							<div class="card-title">
								Hiring Form
							</div>
					</a>
				</div>
		
				<div class="card">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSePrR3vtb379rFBQyxvv0wTBDvEXPHxk8FhZe6qrbM9wQ7tEQ/viewform?usp=sf_link" target="_blank">
						<div class="card-title">
							Assesment Form
						</div>
				</a>
			</div>
			
			<div class="card">
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSfFA6c7RJSIcaBPP1wfMw6N41NFiJBXycNqBbyyp3VaMXmYtg/viewform?usp=sf_link" target="_blank">
					<div class="card-title">
						Leave Form
					</div>
			</a>
		</div>
		</div>
	</div>
	<div class="main-content" >
		<div class="wrapper">
			<h1 class="text-center h2title">
				Useful Resources
			</h1>
			<br>
	
			<div class="card-container">
				<!-- YouTube Channel Card -->
				<div class="card">
					<a href="https://dkmgames.com/Suguru/" target="_blank">
						<img src="https://yt3.googleusercontent.com/ytc/AIdro_kMDhzB6RLrHJjtSdZPd__CZUJIUSdNwtPlizwWlBTd6g=s160-c-k-c0x00ffffff-no-rj" alt="Suguru Game">
						<div class="card-title">Suguru</div>
					</a>
				</div>
				<div class="card">
					
					<a href="https://www.youtube.com/@3blue1brown" target="_blank">
						<img src="https://yt3.googleusercontent.com/ytc/AIdro_nFzZFPLxPZRHcE3SSwzdrbuWqfoWYwLAu0_2iO6blQYAU=s160-c-k-c0x00ffffff-no-rj" alt="YouTube Channel">
						<div class="card-title">
							<i class="fab fa-youtube"style="color: red;"></i> 3Blue1Brown
						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://www.youtube.com/@numberphile" target="_blank">
						<img src="https://yt3.googleusercontent.com/ytc/AIdro_nmbQSAGKk1OZCBBf_sPJqLoFfYOVDWRDzALocBjGQtHeI=s160-c-k-c0x00ffffff-no-rj" alt="YouTube Channel">
						<div class="card-title">
							<i class="fab fa-youtube"style="color: red;"></i> Numberphile
						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://www.youtube.com/@kurzgesagt" target="_blank">
						<img src="https://yt3.googleusercontent.com/ytc/AIdro_llZywFuLruYcXUgaYGurJsuMkyauzPoyn7q99G8UdyKlw=s160-c-k-c0x00ffffff-no-rj" alt="YouTube Channel">
						<div class="card-title">
							<i class="fab fa-youtube"style="color: red;"></i> Kurzgesagt – In a Nutshell
						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://www.youtube.com/@STEMInventions" target="_blank">
						<img src="https://yt3.googleusercontent.com/ytc/AIdro_nfMtysqviJHaokVoedRfcGVTZAnLkUbOeusWBldMF_FSw=s160-c-k-c0x00ffffff-no-rj" alt="YouTube Channel">
						<div class="card-title">
							<i class="fab fa-youtube"style="color: red;"></i> STEM Inventions
						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://www.youtube.com/@Veratasium" target="_blank">
						<img src="https://yt3.googleusercontent.com/ytc/AIdro_nSatGjGLZG1_O1ztYxuKvRazCbk9A0kPhtt2NxEH4ZKfA=s160-c-k-c0x00ffffff-no-rj" alt="YouTube Channel">
						<div class="card-title">
							<i class="fab fa-youtube"style="color: red;"></i> Veritasium

						</div>
					</a>
				</div>
				<div class="card">
					<a href="https://www.youtube.com/@arvindguptatoys" target="_blank">
						<img src="https://yt3.googleusercontent.com/ytc/AIdro_nUnKjguMVN6LCIrpOP_8A65YQwd0iWnLIPPP70BnM7kdc=s160-c-k-c0x00ffffff-no-rj" alt="YouTube Channel">
						<div class="card-title">
							<i class="fab fa-youtube"style="color: red;"></i> Arvind Gupta
						</div>
					</a>
				</div>
			   
			</div>
		</div>
	</div>
	<!-- Main Content Section Ends -->
</div>
{% endblock %}